body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: rgba(255, 255, 255, 0.8);
}

.header,
.container {
    margin-right: 160px;
}

.header {
    text-align: center;
}

.header_words {
    font-family: serif;
    font-style: italic;
    font-size: 20px;
}

.header_author {
    font-family: serif;
    font-style: italic;
    font-size: 14px;
}

.container {
    font-size: 13px;
}

.container section {
    margin: 0 0 1.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.container section h1 {
    margin: 0;
    border-bottom: 1px solid #333;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 140px;
    padding: 1rem;
}

.sidebar nav ul {
    position: fixed;
    width: 140px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar nav ul li {
    margin-bottom: 1rem;
}

.sidebar nav ul li a {
    color: #333;
    text-decoration: none;
}

#additionalContent {
    display: none;
}

.category-title {
    display: block;
    font-weight: bold;
    text-decoration: underline;
}

.paper-list > li {
    margin-bottom: 1rem;
    list-style: none;
}

.paper-list > li > ul {
    padding-left: 3rem;
    list-style: disc;
}

.paper-list > li > ul > li > ul {
    list-style: circle;
}

.career-divider {
    margin-top: 1em;
}

h1 {
    font-size: 1.3rem;
    line-height: 1.1;
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .header,
    .container {
        margin-right: 0;
    }

    .container {
        font-size: 9px;
    }

    .header_words {
        font-size: 14px;
    }

    .header_author {
        font-size: 9px;
    }

    #additionalContent {
        display: block;
    }
}
